body {
	background: url('../Images/IuijDCu.png');
}

.container {
	background: cornsilk;
}

nav {
	margin: 2em 0;
}

footer {
	padding: 2em 0;
	text-align: center;
}

.galleryImage {
    width: 100%;
    border: none;
}

	.imageGallery .row {
		margin-top: 2em;
		margin-bottom: 2em;
	}